__pycache__/
*.py[cod]

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

*.log
local_settings.py

env/

*.sqlite3
*.pyc
*.db
*.pid
*.csv
*.xls
*.xlsx
*.txt
*.zip
settings.json

analyse_results/*.pdf.json